@page
@model Website.Pages.Admin.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Admin Login";
}

<h2>Admin Login</h2>

<form method="post">
    <div class="form-group">
        <label>Username:</label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>